name: hello world
on: 
  push:
    branches: 
      - main
  pull:
    branches: 
      - main
jobs: 
  push-practice-using-gitbash: 
    runs-on: ubuntu-latest 
    steps: 
    - name: Practice step 
      run:
        echo "Hello, ${{vars.MY_Name}}"
