name: hello world
on: 
  push:
    branches: 
      - main
      - develop
      - 'release/**'
  pull_request:
    branches: 
      - main
jobs: 
  push-practice-using-gitbash: 
    runs-on: ubuntu-latest 
    steps: 
    - name: Practice step 
      run:
        echo "A Practice step done using gitbash"
